li {
  color: #ff9999;
}

.completed {
  color: #1dc973;
}

body {
  font-family: 'Pacifico', cursive;
  background-color: #f0f5f5;
  border: 5px solid #ff9999;
  text-align: center;
  overflow-y: scroll;
}

li {
  font-size: 20px;
}

ul {
 list-style-type: none;
 }

#submit {
  color: white;
  background-color: #1dc973;
  border-color: #ffe6e6;
  border-radius: 25px;
}

#submit:hover {
  background-color: #339966;
}
